.contactUsWrap {
    float: left;
    width: 100%;
    /*padding: 70px 0 50px;*/
}

.contactUsWrap .officeAddressWrap {
    float: left;
    width: 100%;
    border-bottom: #2fce98 solid 2px;
    text-align: center;
    margin: 4% 0 0 0;
    padding: 0 0 2% 0;
}

.contactUsWrap .officeAddressWrap .heading {
    float: left;
    width: 100%;
    font-family: 'Gotham Bold';
    font-size: 17px;
    color: #2fce98;
    text-transform: uppercase;
    margin: 0 0 5px 0;
}

.contactUsWrap .officeAddressWrap .itemsWrap {
    float: left;
    width: 100%;
    padding: 2% 0 0 0;
}

.contactUsWrap .officeAddressWrap .itemsWrap ul {
    display: table;
}

.contactUsWrap .officeAddressWrap .itemsWrap ul li {
    display: table-cell;
    width: 25%;
    border-right: #2fce98 solid 2px;
    padding: 0 2%;
    text-align: center;
    vertical-align: middle;
}

.contactUsWrap .officeAddressWrap .itemsWrap ul li .label {
    float: left;
    width: 100%;
    font-size: 17px;
    color: #2fce98;
    font-family: 'Gotham Bold';
}

.contactUsWrap .officeAddressWrap .itemsWrap ul li .details {
    float: left;
    width: 100%;
    font-family: 'Gotham Medium';
}


.contactUsWrap .contactFormWrap {
    float: left;
    width: 100%;
    padding: 2% 0;
}

.contactUsWrap .contactFormWrap .heading {
    float: left;
    width: 100%;
    font-family: 'Gotham Bold';
    font-size: 17px;
    color: #2fce98;
    text-transform: uppercase;
    margin: 2% 0 5px 0;
    text-align: center;
}

.contactUsWrap .contactFormWrap .form {
    float: left;
    width: 70%;
    margin: 2% 0 0 15%;
}

.contactUsWrap .contactFormWrap .form .labelWrap {
    float: left;
    width: 50%;
    padding: 0 2% 0 0;
    height: 60px;
    margin: 1% 0;
    position: relative;
}

.contactUsWrap .contactFormWrap .form .labelWrap .select {
    float: left;
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 15px;
    color: #000;
    background: url(../img/select-dropdown-bg.png) 97% 50% no-repeat;
    background-size: 15px;
    border: 0;
    border-bottom: #cccccc solid 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    font-family: 'Gotham Medium';
}

.contactUsWrap .officeAddressWrap .itemsWrap ul li:last-child {
    border: 0;
}

.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
  }
  
  .icon {
    padding: 10px;
    background: #2fce98;
    color: white;
    min-width: 50px;
    text-align: center;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
  }
  
  .input-field:focus {
    border: 2px solid #2fce98;
  }
  
  /* Set a style for the submit button */
  .btn {
    background-color: #2fce98;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .btn:hover {
    opacity: 1;
  }
  